/* src/components/AddArtPage.css */
.add-art-container {
  flex: 1;
  padding: 150px;
  background-color: rgba(0, 31, 63, 0.85); 
  border-radius: 25px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
  width: calc(100% - 40px);
  overflow: hidden;
  margin: 20px;
}

.add-art-container h1 {
  text-align: center;
  color: #d4af37; /* Deep gold */
}

.add-art-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: rgba(0, 31, 63, 0.7); /* Semi-transparent background for the form */
  padding: 2rem; /* Padding for form elements */
  border-radius: 8px;
}

.add-art-form label {
  display: flex;
  flex-direction: column;
  color: #d4af37; /* Deep gold text for labels */
}

.add-art-form input,
.add-art-form textarea {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #d4af37; /* Deep gold border */
  background-color: #fff; /* White background for input fields */
}

.add-art-form button {
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  background-color: #d4af37; /* Deep gold */
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.add-art-form button:hover {
  background-color: #5030df; /* Slightly darker deep gold */
}

/* src/components/ArtworkPage.css */

.add-art-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #d4af37; /* Deep gold */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 31, 63, 0.2); /* Shadow with navy blue tint */
}

.add-art-button:hover {
  background-color: #b89b33; /* Slightly darker deep gold for hover effect */
}
