/* Container */
.details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex: 1;
  padding: 400px;
  background-color: rgba(0, 31, 63, 0.85); 
  border-radius: 25px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
  width: calc(100% - 40px);
  height: calc(100% - 80px);
  overflow: hidden;
  margin: 20px;
}

/* Cards Container */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  border: 1px solid #E2C044;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 1000px;
}

/* Image Card */
.image-card {
  flex: 1 1 50%;
  max-width: 50%;
  overflow: hidden;
  border-right: 1px solid #E2C044;
  background-color: #e2e2e2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Info Card */
.info-card {
  flex: 1 1 50%;
  max-width: 50%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-card h1 {
  color: #4586F0;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.info-card p {
  font-size: 1.1rem;
  margin-bottom: 15px;
  color: #333;
}

.info-card strong {
  color: #E2C044;
}

/* Add to Cart Button */
.add-to-cart {
  background-color: #4586F0;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-align: center;
}

.add-to-cart a {
  color: #ffffff;
  text-decoration: none;
}

.add-to-cart:hover {
  background-color: #326ad1;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
  }

  .image-card, .info-card {
    max-width: 100%;
  }

  .image-card {
    border-right: none;
    border-bottom: 1px solid #E2C044;
  }

  .info-card {
    padding: 20px;
  }

  .info-card h1 {
    font-size: 2rem;
  }

  .add-to-cart {
    font-size: 1rem;
  }
}
