.checkout-page {
  padding: 150px;
  background-color: rgba(0, 31, 63, 0.85); 
  border-radius: 25px;
  overflow: hidden;
  
}

.page-title {
  text-align: center;
  color: #4586F0;
  margin-bottom: 20px;
}

.order-summary {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  border: 1px solid #cfb034;
}

.order-summary h2 {
  color: #4586F0;
  margin-bottom: 10px;
}

.order-summary ul {
  list-style-type: none;
  padding: 0;
}

.order-summary li {
  border-bottom: 1px solid #60eb4e;
  padding: 8px 0;
  color: #333333;
}

.order-summary li:last-child {
  border-bottom: none;
}

.mpesa-payment {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #40d43b;
}

.mpesa-payment h2 {
  color: #4586F0;
  margin-bottom: 15px;
}

.mpesa-payment label {
  display: block;
  margin-bottom: 10px;
  color: #333333;
}

.mpesa-payment input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #50dd43;
  border-radius: 4px;
  margin-bottom: 10px;
}

.mpesa-payment button {
  background-color: #45f06a;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.mpesa-payment button:hover {
  background-color: #51dd27;
}
