
.footer {
  background: #491549; 
  text-align: center;
  padding: 1.5rem;
  color: white; 
}


.footer-text {
  margin-bottom: 1rem; 
}


.footer-email {
  color: white; 
  text-decoration: none; 
}

.footer-email:hover {
  text-decoration: underline; 
}


.footer-link {
  color: white; 
  text-decoration: none; 
}

.footer-link:hover {
  text-decoration: underline; 
}


.chat-container {
  display: inline-block; 
}

.chat-icon {
  font-size: 1.5rem; 
  color: white; 
}


@media (min-width: 768px) {
  .team-col {
    flex-basis: 48%;
    margin-right: 2%;
  }
}
