/* UserProfile.css */
.profile-icon {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card {
  border-radius: 10px;
  overflow: hidden;
}

.card-title {
  color: #6a0dad;
}

.card-text {
  color: #333;
}

.btn-primary {
  background-color: #6a0dad;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #4b0082;
}
