body {
  font-family: Arial, sans-serif;
  background-image: url(https://i.pinimg.com/474x/08/f7/95/08f79530d077a6b900cd46c33832752e.jpg);
  background-size: cover;
  background-position: center;
}

.container {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #7a288a; 
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5); 
  box-shadow: 0 0 20px rgba(236, 39, 132, 0.8); 
}

.profile-icon {
  text-align: center;
  margin-bottom: 20px;
}

.profile-icon img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #EC2784; 
}

label {
  display: block;
  margin-bottom: 10px;
  color: #EC2784; 
}

input[type="email"],
input[type="password"] {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #EC2784; 
  border-radius: 5px;
}

button[type="submit"] {
  width: 100%;
  height: 40px;
  background-color: #EC2784; 
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #EC2784; 
}

button {
  width: 100%;
  height: 40px;
  background-color: #EC2784; 
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #EC2784; 
}