body {
  font-family: Arial, sans-serif;
  background-image: url(https://i.pinimg.com/474x/08/f7/95/08f79530d077a6b900cd46c33832752e.jpg);
  background-size: cover;
  background-position: center;
  margin: 0; 
  padding: 0; 
  height: 100vh; 
  width: 100vw; 
}

.container {
  width: 100%; 
  height: 100vh; 
  padding: 20px; 
  border: 1px solid #7a288a; 
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5); 
  box-shadow: 0 0 20px rgba(236, 39, 132, 0.8); 
  display: flex; 
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}

.profile-icon {
  text-align: center;
  margin-bottom: 20px;
}

.profile-icon img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #E0115F; 
}

label {
  display: block;
  margin-bottom: 10px;
  color: #E0115F; 
}

input[type="text"], 
input[type="email"],
input[type="password"] {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #E0115F; 
  border-radius: 5px;
}

button[type="submit"] {
  width: 100%;
  height: 40px;
  background-color: #E0115F; 
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #E0115F; 
}

button {
  width: 100%;
  height: 40px;
  background-color: #E0115F; 
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #E0115F; 
}